<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G-CONNECT | ABOUT US</title>
    <link rel="stylesheet" href="../static/styles/about.css">
    <link rel="shortcut icon" href="../static/img/favicon-16x16.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/d82f3ed1b4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <img src="../static/img/download.jpeg" class="logo">
        <ul>
            <li><a href="{{url_for('index')}}"><i class="fa-solid fa-house fa-2x"></i></a></li>
            <li><a href="{{url_for('gitam')}}"><i class="fa-solid fa-table-cells-large fa-2x"></i></a></li>
            
        </ul>
    </div>
    <div class="hhh">
        <h1>About <span class="hdd">US</span></h1>
        <p>\\\\\\\\\\\\\\\\\\\\</p>
        <p>]]]]]]]]]]]]]]]</p>
    </div>
    <div class="box2">
        <h2>This website is designed for <span class="hdd">GITAM</span> Students to have a glimpse about their carreer opportunities and also connect to their Alumni.</h2><br><br>
        <ul>
            <li><span class="hdd">GITAM</span> Students can see your Alumni details, their status and you can also connect with them through their linkedin Id for any queries regarding career and job experience.</li><br>
            <li><span class="hdd">GITAM</span> Students do have the dilemma or confusion related to internships. The website provides different internship opportunities available for <span class="eg">ENGINEERING</span>, <span class="eg2">SCIENCE</span>, <span class="eg3">MANAGEMENT</span> and <span class="eg4">MEDICAL</span>. The site also gives info about the skills required to work with such internship program.</li><br>
            <li><span class="hdd">GITAM</span> Students can also seek information about which all companies are visiting on campus for recruitment, their average packages, and on which month the company visits.</li><br>
            <li><span class="hdd">GITAM</span> Students faces a lot issues regarding information conveyed to them through mails. Day to day students receive a lot of necessary and unnecessary mails on their email accounts. This website also has a notification panel where all important information is given in the summarized manner along with a link associated with it.</li>
        </ul>
        <div class="hhh h2">
            <h1>Meet The <span class="hdd"> DEVELOPERS </span></h1>
            <p>\\\\\\\\\\\\\\\\\\\\</p>
            <p>]]]]]]]]]]]]]]]</p>
        </div>
    </div>
    <div class="focus">
        <div class="main">
            <a href="https://www.linkedin.com/in/eakta-prasad-97829622a/" target="_blank"><img src="../static/img/prof1.png"  class="prof" alt="Click Here"></a><hr>
            <div class="about-text">
                <h5><span class="hdd">Eakta</span> Prasad</h5>
                <p>Chat bot work is done by Me</p>
            </div>
        </div>
        <div class="main">
            <div class="about-text">
                <h5><span class="hdd">Soumyadeep</span> R Das</h5>
                <p>Front-End Webpage designing and Hosting is done by Me</p>
            </div>
            <a href="https://www.linkedin.com/in/soumyadeep-r-das-402b89200/" target="_blank"><img src="../static/img/prof2.jpg" class="prof" alt="Click Here"></a><hr>
        </div>
        <div class="main">
            <a href="https://www.linkedin.com/in/sahil-pathania-620225203/" target="_blank"><img src="../static/img/prof3.jpg" class="prof" alt="Click Here"></a><hr>
            <div class="about-text">
                <h5><span class="hdd">Sahil</span> Pathania</h5>
                <p>Back-End work, Chart Visuals and Data Entry is done by Me</p>
            </div>
        </div>
        <div class="main">
            <div class="about-text">
                <h5><span class="hdd">Shubham</span> Biswas</h5>
                <p>Google Authentication and Data Entry is done by Me</p>
            </div>
            <a href="https://www.linkedin.com/in/shubham-biswas-sb5610" target="_blank"><img src="../static/img/prof4.jpg" class="prof" alt="Click Here"></a><hr>
        </div>
        <div class="main">
            <a href="https://www.linkedin.com/in/vikash-kumar-singh-b2b3361b8" target="_blank"><img src="../static/img/prof5.jpg" class="prof" alt="Click Here"></a><hr>
            <div class="about-text">
                <h5><span class="hdd">Vikash</span> Kumar Singh</h5>
                <p>Data Entry is done by Me</p>
            </div>
        </div>
        <div class="main">
            <div class="about-text">
                <h5><span class="hdd">Sahil</span> Yadav</h5>
                <p>Back-End work, Chart Visuals and Module Integration is done by Me</p>
            </div>
            <a href="https://www.linkedin.com/in/ysahil2002" target="_blank"><img src="../static/img/prof6.jpg" class="prof" alt="Click Here"></a><hr>
        </div>
    </div>
</body>
</html>