<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORGOT PASSWORD</title>
    <link rel="shortcut icon" href="../static/img/favicon-16x16.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/d82f3ed1b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/forgetpassword.css">
</head>
<body>
    <div class="container2">
        <img src="../static/img/download.jpeg" class="logo">
    </div>
    <div class="container">
        <div class="image">
            <img src="../static/img/confused.avif" alt="Think about your PassWord">
        </div>
        <div class="note">
            <p>Enter your registered gitam mail id here :-</p>
            <input type="email" name="email" id="email">
            <div id="error"></div>
            <button type="submit" id="btn"><span></span>SEND</button>
        </div>
    </div>
</body>
<script type="module" src="../static/js/forgotpassword.js">
</script>
</html>