@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eaeff2;
    font-family: 'Lato', sans-serif;
}
.container2{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #991f2c;
}
.container2 a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    margin-right: 20px;
    position: relative;
}
.container2 a::after{
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background: aliceblue;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.container2 a:hover::after{
    width: 100%;
}
.logo{
    width: 77px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 54vh;
    width: 60%;
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 165px;
    margin-left: 300px;
}
.image img{
    width: 252px;
    margin-left: 56px;
    margin-right: 70px;
}
.note{
    background-color: #eaeff2;
    padding: 48px 0;
    font-size: 36px;
}
input{
    width: 250px;
    font-size: 0.5em;
    text-align: center;
    padding: 5px;
    border: none;
    outline:none;
    border-bottom: 3px solid black;
    background: transparent;
    margin-left: 30px;
}
button{
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 50px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: Black;
    color: aliceblue;
    cursor: pointer;
    position: relative;
    overflow: hiddens;
}
button:hover{
    transform: scale(1.2);
    border: none;
}
button:hover span{
    width: 100%;
}
button span{
    background: #004cfc;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
@media screen and (max-width: 412px) {
    .logo{
        width: 60px;
    }
    .image img{
        width: 191px;
        margin-left: 23px;
        margin-top: 0px;
    }
    .container{
        margin-left: 77px;
        display: block;
        margin-top: 65px;
        height: 495px;
    }
    .note{
        font-size: 23px;
        padding: 8px 0 10px 0;
        margin-top: 33px;
    }
    input{
        width: 150px;
        margin-left: 10px;
        font-size: 14px;
    }
    button{
        margin: 19px 0;
    }
}